<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<form class="" action="/questions" method="post">
  <input type="text" name="message" value="" placeholder="message">
  <input type="text" name="author" value="" placeholder="author">
  <button type="submit" name="button">submit</button>
</form>
